@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: rgb(15, 15, 15);
  --grey: rgb(159, 159, 159);
  --white: rgb(215, 215, 215);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background: transparent;
  border: 0;
}